<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/general_style.css">
  </head>
  <body>

    <form action="/comments/new" method="POST" class="main_button">
      <input type="text" name="id" placeholder="enter id of link you refer" class="form_title_field">
      <input type="text" name="comment" placeholder="enter comment" class="form_title_field">
      <input type="submit" value="Submit" class="form_button">
    </form>
  </body>
</html>
