<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="/display" method="GET">
    <input type="submit" value="display bookmarks"/>
  </form>
  <form action="/add" method="GET">
    <input type="submit" value="add bookmark"/>
  </form>

</body>
</html>
