html {
  background-color: #ededed;
}

.webpage_title {
  font-family: Barlow Condensed;
  font-size: 1.4em !important;
  margin-top: auto;
  margin-bottom: auto;
}

.index_buttons {
  display: flex;
  padding-left: 1em;
  background-color: #d34c4c;
  height: 3.3em;
}

.main_button {
  margin-left: 0.5em;
  margin: 0.8em;
  border: none;
}

.button_text {
  font-family: Barlow Condensed;
  font-size: 1.3em;
  width: 8em;
}

.button_text:hover {
  background-color: #ea8989;
  color: #4a4a5e;
}

.links {
  margin-top: 3em;
}

p {
  font-size: 1.2em;
  font-family: Gentium Book Basic;
  letter-spacing: 0.05em;
  margin-left: 1.5em;
}

h1 {
  text-align: center;
  font-family: Barlow Condensed;
  letter-spacing: 0.05em;
  font-size: 2em;
}

h2 {
  font-family: Gentium Book Basic;
  letter-spacing: 0.05em;
  font-size: 1.3em;
  color: black;
}

.form {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.form_url_field {
  height: 2em;
  width: 25em;
}

.form_title_field {
  height: 2em;
  width: 20em;
  margin-right: 0.5em;
}

.form_button {
  height: 2.65em;
  width: 8em;
  margin-left: 1em;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #c75760;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}
