<form action="/bookmarks/delete" method="post">
  <input type="text" name="title" placeholder="enter title">
  <input type="submit" value="Submit">
</form>
<% if flash[:notice] == "This title is not a saved bookmark" %>
  <%= flash[:notice] %>
<% end %>
