<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/general_style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="index_buttons">
      <div class="webpage_title"> Bookmark Manager </div>
      <form action="/bookmarks/new" method="GET" class="main_button">
        <input type="submit" value="Add bookmark" class="button_text">
      </form>
      <form action="/bookmarks/delete" method="GET" class="main_button">
        <input type="submit" value="Delete bookmark" class="button_text">
      </form>
      <form action="/bookmarks/edit" method="GET" class="main_button">
        <input type="submit" value="Update bookmark" class="button_text">
      </form>
    </div>
    <div class="links">
    <ul>
      <p>
        <% @links.each do |link| %>
            <h2> <a href="<%= link.url %>"><div class="single_link"><%= link.title %></div></a></h2>
          <% end %>
        </p>
    </ul>
  </div>
  </body>
</html>
