<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="/bookmarks/new" method="GET">
    <input type="submit" value="Add bookmark"/>
  </form>
  <form action="/bookmarks/delete" method="GET">
    <input type="submit" value="Delete bookmark"/>
  </form>
  <form action="/bookmarks/title" method="GET">
    <input type="submit" value="Update bookmark"/>
  </form>

  <ul>
    <p><% @links.each do |link| %>
      <li><a href="<%= link.url %>"><%= link.title %></a><br>
    <% end %></p>
  </ul>

</body>
</html>
