
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="/bookmarks/new" method="POST">
    <input type="text" name="url" placeholder="enter URL"/>
    <input type="text" name="title" placeholder="enter title">
    <input type="submit" value="Submit"/>
  </form>
  <br><br>
  <% if flash[:notice] == "You must submit a valid URL" %>
    <%= flash[:notice] %>
  <% end %>
</body>
</html>
