<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/flash_style.css">
    <link rel="stylesheet" type="text/css" href="/general_style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
  </head>
  <body>
    <div class="flash_field">
      <% if flash[:notice] == "You have to submit a valid URL (start with www or http://)." %>
        <div class="flash"><%= flash[:notice] %></div>
      <% end %>
    </div>
    <h1>
      Add a title and url of a bookmark you want to add.
    </h1>
    <form action="/bookmarks/new" method="POST" class="form">
      <input type="text" name="title" placeholder="enter title" class="form_title_field">
      <input type="text" name="url" placeholder="enter URL" class="form_url_field">
      <input type="submit" value="Submit" class="form_button">
    </form>
    <br><br>
  </body>
</html>
