<% if flash[:notice] == "This links is not it the database" %>
  <%= flash[:notice] %>
<% end %>
<p>Enter the title of the bookmark you want to update: </p><br>
  <form action="/fill_details" method="post">
    <input type="text" name="title" placeholder="enter current title">
    <input type="submit" value="Submit">
  </form>
