<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/flash_style.css">
    <link rel="stylesheet" type="text/css" href="/general_style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
  </head>
  <body>
    <div class="flash_field">
      <% if flash[:notice] == "This title doesn't exist in the database." %>
        <div class="flash"><%= flash[:notice] %></div>
      <% end %>
    </div>
    <h1>Enter a title of the bookmark you want to update.
    </h1><br>
    <form action="/bookmarks/title" method="post" class="form">
      <input type="text" name="title" placeholder="enter current title" class="form_title_field">
      <input type="submit" value="Submit" class="form_button">
    </form>
  </body>
</html>
