<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/flash_style.css">
    <link rel="stylesheet" type="text/css" href="/general_style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
  </head>
  <body>
    <div class="flash_field">
      <% if flash[:notice] == 'This is not a valid url' %>
        <div class="flash"><%= flash[:notice] %></div>
      <% end %>
    </div>
    <h1>Please fill in both fields. If you don't wish to update either, enter the current URL or title.</h1>
    <form action="/bookmarks/title/edit" method="post" class="form">
      <input type="text" name="new_title" placeholder="enter title" class="form_title_field">
      <input type="text" name="new_url" placeholder="enter url" class="form_url_field">
      <input type="submit" value="Submit" class="form_button">
    </form>
  </body>
</html>
