<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/flash_style.css">
    <link rel="stylesheet" type="text/css" href="/general_style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
  </head>
  <body>
    <div class="flash_field">
      <div class="flash"><%= flash[:notice] %></div>
    </div>
    <h1>
      Add a new tag to a Bookmark.
    </h1>
    <form action="/tags/new" method="POST" class="main_button form">
      <input type="text" name="link_id" placeholder="enter id of link you refer" class="form_title_field">
      <input type="text" name="tag" placeholder="enter tag" class="form_title_field">
      <input type="submit" value="Submit" class="form_button">
    </form>
  </body>
</html>
